@import url("../variables.css");



nav {
	width: 30vw;
	padding: var(--spacing-S) 0;
	margin: auto;
	background-color: #36342E;
	border-radius: var(--border-ref);
	box-shadow: var(--box-shadow-soft);
	position: absolute;
	bottom: 1rem; 
	left: 50%;
	transform: translateX(-50%);
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 3rem;
	padding: 0;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	color: rgb(248, 240, 212);
	font-size: 1.25rem;
	text-decoration: none;
	transition: 0.6s;
	font-family: 'Source Sans 3', sans-serif;
	&:hover {
		color: #F79E6B;
		cursor: pointer;
	}
}

.active {
	color: var(--mainColor);
}
@media (max-width: 768px) {
  nav {
    width: 90vw; 
    padding: var(--spacing-S);
  }

  nav ul {
    gap: 1rem;
    align-items: center;
		padding: 0;
  }

  nav ul li a {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  nav {
    width: 100vw; 
    border-radius: 0;
  }

  nav ul {
    gap: 2rem;
		padding: 0;
  }

  nav ul li a {
    font-size: 0.9rem;
  }
}
